@import 'tailwindcss';

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@utility number-input-no-spin {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@theme {
    --color-foreground: hsl(var(--foreground));

    --animate-slide-in-bottom: slide-in-bottom 250ms ease-out forwards;
    @keyframes slide-in-bottom {
        0% {
            transform: translateY(10px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    --animate-fade-in: fade-in 250ms ease-out forwards;
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    --animate-grow-width: grow-width 300ms ease-out forwards;
    @keyframes grow-width {
        0% {
            width: 0;
            opacity: 0;
        }
        100% {
            width: 100%;
            opacity: 1;
        }
    }
}

@layer base {
    :root {
        --foreground: 210 40% 98%;
    }
}
