@import 'tailwindcss';

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@theme {
    --color-foreground: hsl(var(--foreground));

    --animate-fade-in: fade-in 250ms ease-in forwards;
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    --animate-grow-width: grow-width 300ms ease-out forwards;
    @keyframes grow-width {
        0% {
            width: 0;
            opacity: 0;
        }
        100% {
            width: 100%;
            opacity: 1;
        }
    }
}

@layer base {
    /*:root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
    }*/

    :root {
        --foreground: 210 40% 98%;
    }
}
