@import 'tailwindcss';

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@theme {
    --animate-wiggle: wiggle 500ms ease-in-out infinite alternate;
    @keyframes wiggle {
        0% {
            transform: rotate(-3deg);
        }
        100% {
            transform: rotate(3deg);
        }
    }
}
